a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Crimson Text', sans-serif;
  font-size: 17px
}

strong {
  font-family: 'Crimson Text', sans-serif;
  font-size: 17px;
  font-weight: 700;
  /* or the highest weight supported by Crimson Text */
}

hr {
  display: none;
}

heading {
  font-family: 'Crimson Text', sans-serif;
  font-size: 26px;
}

papertitle {
  font-family: 'Crimson Text', sans-serif;
  font-size: 18px;
  font-weight: 700
}

name {
  font-family: 'Crimson Text', sans-serif;
  font-size: 36px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.stronger-bold {
  font-weight: 900;
}

.underscored {
  text-decoration: underline;
}

a img {
  height: 30px;
  /* adjust the size as needed */
  margin-right: 10px;
  /* space between icons */
}

.small-caps {
  font-variant: small-caps;
  /* Additional styling as needed */
}

.sidebar {
  width: 250px;
  height: 100vh;
  /* Full height */
  background-color: rgba(135, 206, 235, 0.4);
  /* Light Sky Blue with transparency */
  padding-top: 20px;
  position: fixed;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  /* Transition for dissolve effect */
  opacity: 0.9;
  /* Initial transparency */
  left: 0;
}

.sidebar:hover {
  background-color: rgba(135, 206, 235, 1);
  /* Full light sky blue on hover */
  opacity: 1;
  /* Full opacity on hover */
}

.sidebar a {
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  color: #1E3050;
  display: block;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  /* Hover effect on links */
}

/* Right Sidebar (same as left sidebar) */
.right-sidebar {
  width: 250px;
  height: 100vh;
  background-color: rgba(135, 206, 235, 0.4);
  /* Light Sky Blue */
  position: fixed;
  right: 0;
  top: 0;
  opacity: 0.9;
  /* Initial transparency */
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.right-sidebar:hover {
  background-color: rgba(135, 206, 235, 1);
  /* Full opacity on hover */
  opacity: 1;
}

.icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  vertical-align: middle;
  margin-right: 8px;
}

.domain-tag {
  background-color: #eb8908;
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 13px;
  display: inline-block;
  margin-bottom: 6px;
}